@font-face {
  font-family: 'Comfortaa';
  src: url('./assets/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.colored-list {
  list-style-type: disc; /* Точки */
}

.colored-list li::marker {
  color: red;  /* Цвет маркера */
  font-size: 25px;  /* Размер маркера */
}